---
import Container from './Container.astro';
import Screen from './Screen.astro';
import type Image from '../interfaces/image';
import ApiImage from './ApiImage.astro';
import type { Socials } from '../interfaces/socials';
import SocialsComponent from './icons/Socials.astro';
type Props = {
  brand: Image;
  description: string;
  name: string;
  socials: Socials[];
};
const { brand, description, name, socials } = Astro.props;
const today = new Date();
---

<footer>
  <Screen>
    <Container class={'flex-col gap-40 py-64'}>
      <div class="flex items-start gap-12">
        <div class="w-[295px] flex flex-col justify-start items-start gap-32">
          <ApiImage image={brand} class={'w-[139px] lg:w-[186px]'} />
          <div class="text-text-sub text-sm font-normal break-words">
            {description}
          </div>
          <div class="flex justify-start items-start gap-24">
            {
              socials.map((social) => (
                <a href={social.url} target='_blank'>
                  <SocialsComponent social={social.type} class={'size-24 text-icon-strong'}/>
                </a>
              ))
            }
          </div>
        </div>
      </div>
      <div class="w-full h-[1px] bg-border-soft"></div>
      <div class="justify-between items-center flex w-full flex-col lg:flex-row gap-y-16">
        <div class="text-text-main text-sm font-normal break-words">
          © {today.getFullYear()}
          {name}
        </div>
        <div class="flex gap-32">
          <div class="text-text-main text-sm font-normal break-words">Política de Privacidade</div>
          <div class="text-text-main text-sm font-normal break-words">Política de Cookies</div>
        </div>
      </div>
    </Container>
  </Screen>
</footer>
