---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import NewsLetter from "../components/NewsLetter.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import type { BlogInfo } from "../interfaces/blog-info";
import type Category from "../interfaces/category";
import type StrapiNavigation from "../interfaces/navigation";

type Props =  {
  blogInfo: BlogInfo;
  headerNavigation: StrapiNavigation<Category>[];
}

const {blogInfo, headerNavigation} = Astro.props
---
<!doctype html>
<html lang="pt-br">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header items={headerNavigation.map(el => ( {href: el.path, label: el.title}))} brand={blogInfo.data.attributes.brand.data} />
      <slot/>
    <NewsLetter/>
    <Footer brand={blogInfo.data.attributes.brand.data} description={blogInfo.data.attributes.summary} name={blogInfo.data.attributes.name} socials={blogInfo.data.attributes.socials}/>
  </body>
</html>